name: discord release msg

on: 
  release:
    types: [published]
      
jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Github Releases To Discord
        uses: SethCohen/github-releases-to-discord@v1.13.1
        with:
          webhook_url: ${{ secrets.DISCORD_RELEASE_WEBHOOK_URL }}
          color: "1711650"
          username: "Client Release Changelog"
          avatar_url: "https://cdn.discordapp.com/icons/837475420923756544/941238cca4a5e355f16a9d710b423c0e.webp?size=96"
          content: "||@everyone||"
          footer_title: "Changelog"
          footer_icon_url: "https://cdn.discordapp.com/icons/837475420923756544/941238cca4a5e355f16a9d710b423c0e.webp?size=96"
          footer_timestamp: true